@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #f9f9f9;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
}

.parallax {    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.hill1{
    transform: translateZ(-30px) scale(2.5);
}
.hill2, .hill4{
    transform: translateZ(-20px) scale(2);
}
.hill3, .hill5, .leaf{
    transform:translateZ(-10px)  scale(2);
}
.tree, .plant{
    transform: translateZ(-10px) scale(2);
}
.hill1, .hill2, .hill3, .hill3, .hill4, .hill5, .tree, .leaf, .plant {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.text {
    position: absolute;
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.sec {
    position: relative;
    background: #003329;
    padding: 100px;
    margin-top: 150px;

}

.sec h2 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1.1rem;
    padding: 2rem;
    background: #003329;
    color: white;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: #359381;
    border-radius: 10px;
}